@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #051622;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 70px;
}

header h1 {
  float: left;
}

header h1 {
  display: inline-block;
  padding: 15px 24px;
  text-transform: uppercase;
}

header h1 a {
  transition: 0.3s;
}

header h1 a:hover {
  color: #deb992;
}

header ul {
  float: right;
}

header ul li {
  padding: 24px;
  display: inline-block;
}

header ul li a {
  transition: 0.3s;
}

header ul li a:hover {
  color: #deb992;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.mobile-menu {
  float: right;
  display: none;
  padding: 18px;
}

.mobile-menu i {
  transition: 0.3s;
}

.mobile-menu i:hover {
  color: #deb992;
  cursor: pointer;
}

#check {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: #051622;
  opacity: 0.9;
  transition: 0.3s;
  z-index: 9999;
}

.sidebar ul li {
  padding: 24px;
  transition: 0.3s;
  transition-property: background-color;
}

.sidebar ul li:hover {
  background-color: #1ba098;
}

.sidebar ul li a {
  color: #fff;
}

#banner {
  height: 48vh;
  padding: 150px 0;
  background-color: #1ba098;
}

section {
  padding: 50px 0;
}

#banner img {
  width: 130px;
  margin-bottom: 10px;
  border-radius: 55% 45% 44% 56% / 43% 47% 53% 57%;
}

#banner h2,
#banner p,
#banner span {
  color: #fff;
  margin-bottom: 10px;
}

#banner p {
  font-size: 18px;
}

.button-cv {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #051622;
  color: #fff;
}

.button-cv a {
  color: #fff;
  transition: 0.3s;
}

.button-cv:hover {
  background-color: #fff;
}

.button-cv a:hover {
  color: #051622;
}

section h3 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
}

section h3::before {
  content: "";
  display: block;
  position: relative;
  bottom: -28px;
  width: 120px;
  height: 2px;
  background-color: #051622;
  left: calc(50% - 60px);
}

section h3::after {
  content: "";
  display: block;
  position: relative;
  bottom: -1.9px;
  width: 40px;
  height: 4px;
  background-color: #deb992;
  left: calc(50% - 20px);
}

#about p {
  text-align: justify;
  text-indent: 40px;
  line-height: 25px;
  margin-bottom: 15px;
}

#skills,
#contact {
  background-color: #f9f9f9;
}

.skills-content:nth-child(2) {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.portfolio-content:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills-content img {
  border-radius: 10px;
}

.col-4 {
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 5px;
  float: left;
  text-align: center;
}

.col-4 img {
  width: 100%;
}

.col-4 a:hover img {
  transform: scale(0.9, 0.9);
  transition: 0.3s;
}

.col-3 {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  padding: 50px 10px;
  word-wrap: break-word;
}

.col-3 h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.col-3 a p {
  font-weight: 1000;
  display: inline-block;
  transition: 0.3s;
}

.col-3 a p:hover {
  color: red;
}

footer {
  background-color: #051622;
  padding: 30px;
  text-align: center;
}

footer small {
  color: #fff;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
  header ul {
    display: none;
  }
  section h3::after {
    content: "";
    display: block;
    position: relative;
    bottom: -0.5px;
    width: 40px;
    height: 4px;
    background-color: #deb992;
    left: calc(50% - 20px);
  }
  .col-4 {
    width: 50%;
  }
  .col-3 {
    width: 100%;
  }
}
